.questions-container{
    border: 0px solid red;
    /* border-bottom: 2px solid gray; */
}


.forum-container{
    /* border: 1px solid blue; */
    border-bottom: 2px solid gray;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.welcome-container{
    /* border: 1px solid red; */
    width: 70%;
    padding: 20px 0;
    color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.point-desc{
    color: rgb(218, 208, 208);
    font-size: 15px;
}

.all-questions-container{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    padding: 20px;
}


.question-card{
    /* border: 1px solid red; */
    background-color: #16202d;
    margin-bottom: 20px;
}
.question-heading{
    /* border: 1px solid blue; */
    background-color: #223d5a;
    display: flex;
    justify-content: space-between;
}

.question-title{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

.question-user{
    font-size: 14px;
    padding: 20px;
    font-family: sans-serif;
    color: yellow;
}

.question-description{
    padding: 30px 15px 15px 15px;
    font-size: 17px;
    min-height: 110px;
}






