<div class="questions-container mb20">
    <div class="forum-container">
        <h1 style="color: rgb(222, 222, 232);">Welcome to Radiant forum</h1>
        <div class="welcome-container">
            <div class="mb20">Open To All: <span class="point-desc">This forum is open to all, you are not required to
                    signin or singup for reading the question.</span></div>
            <div>Things to consider: <span class="point-desc"> This page is dedicated to serve a good cause, please do
                    not involve in any fight or abusive war with other games. Actions will be taken against such
                    users.</span></div>
        </div>
        <button (click)="askQuestion()" style="cursor: pointer;">Ask a Question</button>
    </div>

    <div class="all-questions-container mt20">
        <!-- all questions comes here -->
        <h1>Questions by other Gamers</h1>


        <div class="question-card" *ngFor="let question of questionsData">
            <div class="question-heading">
                <div class="question-title"> {{question.title}} </div>
                <div class="question-user"> (by {{question.user.username}}) </div>
            </div>

            <div class="question-description">
                <p [innerHTML]="question.description.split(' ').length > 35 ? question.description.split(' ').slice(0, 35).join(' ') + '...' : question.description"></p>
            </div>

            <div class="question-button">
                <button mat-icon-button [routerLink]="'/question/'+question.quesId">
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </div>

        </div>


    </div>


</div>

<!-- 

    question.title
    question.user.username
    question.description


 -->