.questions-container{
    border: 0px solid red;
    /* border-bottom: 2px solid gray; */
}


.forum-container{
    /* border: 1px solid blue; */
    border-bottom: 2px solid gray;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.welcome-container{
    /* border: 1px solid red; */
    width: 70%;
    padding: 20px 0;
    color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.point-desc{
    color: rgb(218, 208, 208);
    font-size: 13px;
}

.all-questions-container{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    padding: 20px;
}



.card {
    width: 85%;
    /* background: linear-gradient(to bottom right, #044a78, #066106); Light blue to light green gradient */
    background: linear-gradient(to bottom right, #3193d4, #17b017); /* Light blue to light green gradient */
}


#card-username{
    color: yellow;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    padding: 15px 0;
}


#card-title{
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:'Times New Roman', Times, serif;

}








