<div class="game-container mb20" *ngIf="gameData">
  <div class="image-video-container bootstrap-wrapper">
    <div class="heading">{{gameData.gamename}}</div>
    <div class="container-fluid">
      <div class="row">
        <div class="left col-md-8">
          <div class=" images-container" *ngIf="hidden">
            
            <img [src]="'data:image/jpg;base64,'+gamePlayImage" alt="">
            
          </div>
          <div class="video-container" *ngIf="!hidden">
            <div class="video" >
              <!-- <iframe   src="https://www.youtube.com/embed/4OgoTZXPACo?rel=0" title="Sekiro: Shadows Die Twice - Official Trailer | E3 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            -->
              <iframe [src]="sanitizeUrl(gameData.video)" ></iframe>
            </div>
          </div>
          <div class="change-button">
            <div class="previous-arrow">
              <button mat-icon-button (click)="previous_click()">
                <mat-icon style="transform: scale(2.5);"> keyboard_backspace</mat-icon>
              </button>
            </div>
            <div class="next-arrow">
              <button mat-icon-button (click)="next_click()">
                <mat-icon style="transform: scale(2.2);">east</mat-icon>
              </button>
            </div>
          </div>
          
        </div>
        
        <div class="col-md-4 image-container">
          <div class="image">
            <img [src]="'data:image/jpg;base64,'+gameData.coverImage" alt="coverImage">
          </div>
          <div class="some-info">
            {{gameData.description}}
          </div>

          <div class="container extra-info mt20">
            <div class="row">
              <div class="col-md-6">
                <div class="bg-primary text-white p-3 mb-3">Publisher</div>
              </div>
              <div class="col-md-6">
                <!-- Content for first row, second column -->
                <div class="bg-secondary text-white p-3 mb-3"> {{gameData.publisher}} </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Content for second row, first column -->
                <div class="bg-warning text-white p-3 mb-3">Release Date</div>
              </div>
              <div class="col-md-6">
                <!-- Content for second row, second column -->
                <div class="bg-danger text-white p-3 mb-3"> {{gameData.releaseDate}} </div>
              </div>
            </div>
            <div style="color: yellow;">Popular tags</div>
            <div> {{gameData.categories}} </div>
          </div>
          
          

        </div>
      </div>
    </div>



    

  </div>

</div>

<div class="buy-cart-container" *ngIf="gameData">
  <div class="text-heading">
    Buy {{gameData.gamename}}
  </div>
  <div class="buy-options">
    <span class="buy-game-price"> {{gameData.price-(gameData.price*gameData.discount/100) | currency:"INR"}} </span>

    <span class="buy-add-cart" *ngIf="alreadyOwned"> In Library </span>
    <span class="buy-add-cart" (click)="addToCart(user,gameData)" *ngIf="!alreadyOwned && !alreadyInCart"> Add to Cart </span>
    <span class="buy-add-cart" *ngIf="!alreadyOwned && alreadyInCart"> <a routerLink="/checkout" style="text-decoration: none;">In Cart</a>  </span>
  </div>  
</div>

<div class="requirements" *ngIf="gameData">
  <p [innerHTML]="gameData.requirements"></p>
</div>

<app-footer></app-footer>