<div class="bootstrap-wrapper " >
    <div class="container-fluid">
        <div class="row stone-container">
            <div class="col-md-12 stone-text-container">
                <h1>Radiant</h1>
                <p style="font-size: 20px;">Radiant is one station for playing game, discussion with pros and more.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div>Total Players</div>
                        <div>30000</div>
                    </div>
                    <div class="col-md-6">
                        <div>Total Games</div>
                        <div>30000</div>
                    </div>
                </div>
                <div class="install-container">
                    <button mat-raised-button class="install-button">Install Radiant</button>
                    <div>
                        Also available on: <mat-icon>apple</mat-icon> <mat-icon>apple</mat-icon>
                    </div>
                </div>



            </div>
            <!-- <div class="col-md-6 stone-image-container">
                <img src="../../../assets/images/about-intro-image.jpg" alt="">
            </div> -->
        </div>
    </div>
</div>

<div class="about-access-container">
    <div class="access-container-text">
        <div>
            <h1>ACCESS THE GAMES</h1>
            <p>Over 30000 games are available from action, adventure, role play to mind games and more. Access the exclusive sales, updates and new Dlc every weekends.</p>
        </div>
        <div class="text-center">
            <button routerLink="/store" mat-raised-button color="accent">Explore the Store</button>
        </div>
    </div>
</div>


<div class="about-community-container">
    <div class="community-container-text">
        <div>
            <h1>JOIN COMMUNITY</h1>
            <p>Join other peoples around the world, interact with them, share you experience and more.</p>
        </div>
        <div class="text-center">
            <button routerLink="/community" mat-raised-button color="accent">Join Community</button>
        </div>
    </div>
</div>


<div class="about-feature-container" style="background-color: #141414;">

    <div class="feature-container-heading">
        <h1>Features</h1>
        <p>Our ongoing updates and technology gives you best experience in your gaming life.</p>
    </div>

    <div class="feature-container-items">
        <div class="bootstrap-wrapper">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-card card-1">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/game-controller.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Games</div>
                            <div class="feature-text">
                                Purchase and install your fabborite games from multiple publishers at one place and enjoy them.
                            </div>
                        </div>
                          
                    </div>
                    <div class="col-md-4">
                        <div class="feature-card card-2">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/community.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Community</div>
                            <div class="feature-text">
                                Join other players in the community and share your experience.
                            </div>
                        </div>
                          
                    </div>
                    <div class="col-md-4">
                        <div class="feature-card card-3">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/forum.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Forum</div>
                            <div class="feature-text">
                                Having trouble? Ask your queries from other players and get answer to your quetions.
                            </div>
                        </div>
                          
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-card card-4">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/early-access.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Early Access</div>
                            <div class="feature-text">
                                Get early access to all games and get all updates as they are available.
                            </div>
                        </div>
                          
                    </div>
                    <div class="col-md-4">
                        <div class="feature-card card-5">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/payment.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Payment</div>
                            <div class="feature-text">
                                Pay with your favorite payment gateway or service provider and get discount on some methods as well.
                            </div>
                        </div>
                          
                    </div>
                    <div class="col-md-4">
                        <div class="feature-card card-6">
                            <div class="feature-icon text-center">
                                <button ><img src="../../../assets/images/update.png" alt=""></button>
                                
                            </div>
                            <div class="feature-title text-center">Updates</div>
                            <div class="feature-text">
                                We are dedicated to regular updates to improve you experience and optimize our platform.
                            </div>
                        </div>
                          
                          
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<app-footer></app-footer>

