


.now-available{
    /* border: 1px solid red; */
    position: relative;
    cursor: pointer;
}
.now-available img{
    width: 100%;
    height: 500px;
}

.now-available h1{
    position: absolute; 
    top: 45%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:cursive;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

.featured-heading{
    width: 70%;
    margin: auto;
    text-transform: uppercase;
    /* border: 1px solid red; */
    padding: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.random-games-container{
    /* border: 1px solid blue; */
    width: 70%;
    margin: auto;
    height: 370px;
    overflow: hidden;
    cursor: pointer;
}

.random-games-container img{
    width: 100%;
    height: 330px;
    display: block;
}

.random-game-right{

    background: rgb(22, 21, 21);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.random-game-desc{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.discounted_price{
    margin-left: 20px;
    background-color: rgb(36, 180, 36);
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
}

.category-container{
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    overflow-x: scroll;
}
.category-container::-webkit-scrollbar {
    height: 7px;
}


.category-content{
    display: flex;
}
.category-content-container{
    min-width: 250px;
    min-height: 200px;
    /* border: 1px solid blue; */
    position: relative;
    /* margin-left: 10px; */
    padding: 10px;
    cursor: pointer;
}

.category-content-container h2{
    position: absolute;
    top: 78%;
    left: 35%;
    /* color: rgb(219, 219, 31); */
    text-transform: uppercase;

}

.category-content-container img{
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
}

.category-heading{
    text-transform: uppercase;
    /* padding: px 0px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}




.price-filter-container{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.price-games-content{
    display: flex;
    overflow-x: scroll;
}
.price-games-content::-webkit-scrollbar {
    height: 7px;
}

.price-games-container{
    min-width: 250px;
    min-height: 200px;
    padding: 5px;
    cursor: pointer;
}

.price-games-container img{
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
}



/* all games */


.games-container{
    padding: 10px;
    width: 70%;
    margin: 50px auto;
    border: 1px solid black;
    margin-bottom: 150px;
}

.game-card{
    background-color: #3d4d5d;
    border: 1px solid orange;
    padding-left: 15px;
    margin-bottom: 10px;
}

.left{
    padding: 5px;
    height: 80px;
    /* border: 1px solid purple; */
}
.left img{
    height: 70px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.right{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-right: 10px; */
}

.line{
    padding: 5px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid magenta; */
}



/* search bar */

.search-container{
    position: relative;
    /* border: 2px solid red; */
}
.search-result{
    /* border: 5px solid red; */
    position: absolute;
    background: transparent;
    color: white;
    width: 95%;
    z-index: 555;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#search-game{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.game-card-result{
    background-color: #3d4d5d;
    background-color: black;
    border: 1px solid orange;
    padding-left: 15px;
    margin-bottom: 10px;
}

.left{
    padding: 5px;
    height: 80px;
    color: white;
    /* border: 1px solid purple; */
}
.left img{
    height: 70px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.right{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-right: 10px; */
}

.line{
    padding: 5px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid magenta; */
}








