<div class="footer-container">
    <div class="content-container">
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <span>Raidant Coorporation</span> 
                    <!-- <span class="logo"><img src="../../../assets/images/logo.png" alt=""></span> -->
                </div>
                <div class="col-md-9">
                    <div>All rights reserved&#174;</div>
                    <div>Refer to your friend and earn great rewards.</div>
                    <div>Explor the world of gaming.</div>
                    <div><a routerLink="/store">store</a>| <a routerLink="/community">community</a>|<a routerLink="/about">about</a></div>
                </div>
            </div>
        </div>
    </div>
</div>