
<div class="navbar-container">
  <mat-toolbar style="background-color: #1b1a22; height: 100px;">
    
    
    
    <a class="website_icon" routerLink="">
      <h1>Radiant</h1>
    </a>
    <span class="example-spacer"></span>

    <div class="links-container">
      <a routerLink="/store"> <h1 style="font-weight: 400;">Store</h1></a>
      <a routerLink="/community"><h1 >Community</h1></a>
      <a routerLink="/about"><h1 style="font-weight:400;" >Explore</h1></a>

    </div>
      
    <span class="example-spacer"></span>

    
    
    @if (isLoggedIn) {
        <button (click)="openDashboard()"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon style="transform: scale(1.3);">account_circle</mat-icon>
        </button>
    }
    
    @if (!isLoggedIn) {
      <a routerLink="/login">
        <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon >login</mat-icon>
        </button>
      </a>
    }
    @if(isLoggedIn){
      <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >logout</mat-icon>
      </button>
    }
    

  </mat-toolbar>
  
</div>