
.navbar-container{
    
    border: 0px solid red;
    /* border: 1px solid red; */

}

.example-spacer {
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: white;
}

.links-container{
    /* border: 1px solid blue; */
    display: flex;
}
.links-container a{
    padding: 0 5px;
}



/* 
body{
    background: #121212;
    background-color: white !important;
}   */