.sidebar-container{
    padding: 10px;
    /* border: 1px solid red; */
    height: 100vh;
}
.card-container{
    padding: 10px;
    /* border: 1px solid red; */
    height: 100%;
    background-color: #1b2d3d;
}