<div class="sidebar-container">

    <mat-card class="card-container">
        <mat-action-list>
            <div mat-subheader>Hi, Admin</div>
            <button mat-list-item routerLink="/admin">
                <div style="display: flex;">        
                    <mat-icon>home</mat-icon> <h3>&nbsp;&nbsp;Home</h3>
                </div>
            </button>
            <button mat-list-item routerLink="/admin/games">
                <div style="display: flex;">        
                    <mat-icon>games</mat-icon> <h3>&nbsp;&nbsp;All Games</h3>
                </div>
            </button>
            <button mat-list-item routerLink="/admin/game/add">
                <div style="display: flex;">        
                    <mat-icon>add</mat-icon> <h3>&nbsp;&nbsp;Add Game</h3>
                </div>
            </button>
        </mat-action-list>
    </mat-card>
</div>