.parent-container{
    border: 0px solid red;
}


.welcome-container{
    /* border: 1px solid blue; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-bottom: 2px solid gray;

}

.instructions{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.point{
    margin-top: 20px;
}

.point-heading{
    color: yellow;
    margin-top: 50px;
}

.experience-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: auto;
    padding: 20px;
}


.experience-card{
    /* border: 1px solid red; */
    background-color: #16202d;
    background-color: #0d131b;
    background-color: #032247;
    margin-bottom: 20px;
}
.experience-heading{
    /* border: 1px solid blue; */
    background-color: #223d5a;
    background-color: #0a182b;
    display: flex;
    justify-content: space-between;
}

.experience-title{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

.experience-user{
    font-size: 14px;
    padding: 20px;
    font-family: sans-serif;
    color: yellow;
}

.experience-description{
    padding: 30px 15px 15px 15px;
    font-size: 17px;
    min-height: 120px;
}
