.question-container{
    border: 0px solid red;
}

.content-container{
    border: 2px solid gray;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}


.first-tile{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: yellow;
}



.title{
    text-transform: uppercase;
    font-size: 30px;
}

.user{
    font-family: 'Courier New', Courier, monospace;
}


.description{
    /* border: 1px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images{
    width: 80%;
    margin: auto;
    /* overflow: scroll; */
}

.questionImage img{
    width: 100%;
    /* overflow: scroll; */
    height: 450px;
}

.answer-content-container{
    /* border: 2px solid gray; */
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    
}

.add-answer{
    width: 80%;
    margin: auto;
    cursor: pointer;
}



.answer-card{
    /* border: 1px solid red; */
    background-color: #16202d;
    background-color: #0d131b;
    background-color: #122a47;
    margin-bottom: 20px;
}
.answer-heading{
    /* border: 1px solid blue; */
    background-color: #223d5a;
    background-color: #0a182b;
    display: flex;
    justify-content: space-between;
}

.answer-user{
    font-size: 14px;
    padding: 20px;
    font-family: sans-serif;
    color: yellow;
}

.answer-description{
    padding: 30px 15px 15px 15px;
    font-size: 17px;
    min-height: 120px;
}


.like-button,
.dislike-button {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    
}

.like-button button,
.dislike-button button {
    margin: -5px;
}

