<div class="question-container">
    <div class="content-container bootstrap-wrapper">
        <div class="first-tile">
            <div class="title"> {{questionData.title}} </div>
            <div class="user"> (by {{questionData.user.username}}) <button *ngIf="sameUser" mat-button
                    (click)="deleteQuestion(questionData.quesId)">remove</button> </div>
        </div>
        <div class="description mt20" [innerHTML]="questionData.description">

        </div>
        <div class="images row">
            <div class="col-md-12 questionImage" *ngFor="let image of questionData.images">
                <img [src]="'data:image/jpg;base64,'+image" alt="not able to process image">
            </div>
        </div>
    </div>
    <div class="add-answer" *ngIf="loggedUser!=null && sameUser==false">
        <button [routerLink]="'/answer/question/'+questionData.quesId">Add Answer</button>
    </div>
</div>



<div class="answer-container">
    <div class="answer-content-container" *ngFor="let answer of answersData">

        <div class="answer-card" *ngFor="let answer of answersData">
            <div class="answer-heading">
                <div class="answer-user"> ( by {{answer.user.username}} ) </div>
            </div>

            <div class="answer-description">
                <p [innerHTML]="answer.answer"></p>
            </div>

            <div class="answer-button-container">
                <div class="like-button">
                    <button mat-icon-button color="primary" (click)="likeAnswer(answer.ansId)">
                        <mat-icon>thumb_up</mat-icon>
                    </button>
                    <span>{{answer.likes}}</span>
                </div>
                <div class="dislike-button">
                    <button mat-icon-button color="primary" (click)="dislikeAnswer(answer.ansId)">
                        <mat-icon>thumb_down</mat-icon>
                    </button>
                    <span>{{answer.dislikes}}</span>
                </div>
            </div>

        </div>
    </div>


</div>

<div class=" mb20" *ngFor="let answer of answersData">


</div>