.question-container{
    border: 0px solid red;
}

.content-container{
    border: 2px solid gray;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}


.first-tile{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: yellow;
}



.title{
    text-transform: uppercase;
    font-size: 30px;
}

.user{
    font-family: 'Courier New', Courier, monospace;
}


.description{
    /* border: 1px solid red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images{
    width: 80%;
    margin: auto;
    /* overflow: scroll; */
}

.questionImage img{
    width: 100%;
    /* overflow: scroll; */
    height: 450px;
}

.answer-content-container{
    /* border: 2px solid gray; */
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    /* color: black; */
    /* background: linear-gradient(to bottom right, rgb(232, 229, 232), rgb(228, 208, 204)); Light blue to light green gradient */
}

.add-answer{
    width: 80%;
    margin: auto;
    cursor: pointer;
}



.card {
    width: 85%;
    /* background: linear-gradient(to bottom right, #044a78, #066106); Light blue to light green gradient */
    background: linear-gradient(to bottom right, #54a0d3, #2c8e2c); /* Light blue to light green gradient */
}


#card-username{
    color: yellow;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    padding: 15px 0;
}


#card-title{
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:'Times New Roman', Times, serif;

}

.like-button,
.dislike-button {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    
}

.like-button button,
.dislike-button button {
    margin: -5px;
}

