<div class="sidebar-container">

    <mat-card class="card-container">
        <mat-action-list>
            <div mat-subheader></div>
            <!-- <button mat-list-item routerLink="/user/details">
                <div>
                    <h3>Account details</h3>
                </div>
            </button> -->
            <button mat-list-item routerLink="/user/games">
                <div>
                    <div>My Games</div>
                </div>
            </button>
            <button mat-list-item routerLink="/user/cart">
                <div>
                    <div>Cart</div>
                </div>
            </button>
            <button mat-list-item routerLink="/user/redeem">
                <div>
                    <div>Redeem</div>
                </div>
            </button>
            <button mat-list-item routerLink="/user/codes">
                <div>
                    <div>Codes</div>
                </div>
            </button>
        </mat-action-list>
    </mat-card>
</div>